<footer>
  <!-- Container for footer content -->
  <div class="footer-content">
      <!-- Footer text displaying copyright -->
      <p>&copy; 2024 Software De Producción Académica PAIDU</p>
      
      <!-- Container for footer navigation links -->
      <div class="footer-links">
          <!-- Privacy Policy link -->
          <a href="#">Privacy Policy</a>
          <!-- Terms of Service link -->
          <a href="#">Terms of Service</a>
          <!-- Contact link -->
          <a href="#">Contact</a>
      </div>
  </div>
</footer>
