<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
        <h3 class="ml-4">Registro de Publicaciones</h3>
        
      </div>
    </ng-template>
    <p>
      <p-table [value]="publications">
        <ng-template pTemplate="header">
          <tr>
            <th>Título</th>
            <th>Fecha de Publicación</th>
            <th>Grupo de Investigación</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-publication>
          <tr>
            <td>{{ publication.title }}</td>
            <td>{{ publication.publication_date}}</td>
            <td>{{ publication.research_group_name }}</td>
            <td>
         
              <a 
                pButton 
                pRipple
                icon="pi pi-sync"
                severity="warning"
                class="mr-1"
                [routerLink]="['/publications/edit', publication.id]">
              </a>
              <button 
                pButton 
                pRipple
                severity="danger"
                icon="pi pi-eraser"
                class="mr-1"
                (click)="eliminar(publication.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
  