<section class="content">
  <p-card header="Crear Facultad" class="create-faculty-card">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3">
      <!-- Faculty Name Input -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"><i class="pi pi-briefcase"></i></span>
            <input 
              class="w-12" 
              type="text" 
              pInputText 
              formControlName="name" 
              placeholder="Nombre de la Facultad" 
              title="Nombre Facultad">         
          </div>
        </div>
      </div>

      <!-- Buttons: Save and Cancel -->
      <div class="flex justify-content-center flex-wrap mt-4">
        <button 
          pButton 
          pRipple
          label="Guardar"
          icon="pi pi-save"
          class="btn-primary mr-3"
          type="submit">
        </button>
        <button 
          pButton 
          pRipple
          label="Cancelar"
          icon="pi pi-times-circle"
          class="btn-warning"
          type="button"
          (click)="cancel()">
        </button>
      </div>
    </form> 
  </p-card>
</section>
