<section class="content">
  <p-card header="Actualizar Programa" class="update-program-card">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3">
      <!-- Row 1: Program Name -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
            <input 
              class="w-12" 
              type="text" 
              pInputText 
              formControlName="name" 
              placeholder="Nombre del Programa" 
              title="Nombre Programa">         
          </div>
        </div>

        <!-- Row 2: Faculty -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"><i class="pi pi-briefcase"></i></span>
            <select class="w-12" formControlName="faculty" title="Facultad">
              <option *ngFor="let faculty of faculties" [value]="faculty.id">{{ faculty.name }}</option>
            </select>          
          </div>
        </div>
      </div>

      <!-- Buttons: Save and Cancel -->
      <div class="flex justify-content-center flex-wrap mt-4">
        <button 
          pButton 
          pRipple
          label="Guardar"
          icon="pi pi-save"
          class="btn-primary mr-3"
          type="submit">
        </button>
        <button 
          pButton 
          pRipple
          label="Cancelar"
          icon="pi pi-times-circle"
          class="btn-warning"
          type="button"
          (click)="cancel()">
        </button>
      </div>
    </form> 
  </p-card>
</section>
