<section class="content">
  <p-card class="w-12 h-full">
    <!-- Card Header -->
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center flex-wrap">
        <h3 class="ml-4" style="margin-bottom: 0px; color: #01616c; font-weight: bold;">
          Grupos de Investigación
        </h3>
        <div class="mt-2 mr-4">
          <!-- Button to create a new research group -->
          <a pButton pRipple label="Crear Grupo" icon="pi pi-plus-circle" 
            class="bg-primary text-white font-bold px-3 py-2 border-round" [routerLink]="['/research-groups/new']">
          </a>
        </div>
      </div>
    </ng-template>
  
    <!-- Main content of the card -->
    <p>
      <!-- Table displaying the research groups -->
      <p-table [value]="researchGroups" class="custom-table" scrollable="true" scrollHeight="290px">
        <!-- Table Header -->
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
      
        <!-- Table Body -->
        <ng-template pTemplate="body" let-researchGroup>
          <tr>
            <td>{{ researchGroup.name }}</td> <!-- Displays the research group's name -->
            <td>{{ researchGroup.description }}</td> <!-- Displays the research group's description -->
            <td>
              <!-- Edit button -->
              <a pButton pRipple icon="pi pi-sync" class="bg-warning text-white mr-1"
                [routerLink]="['/research-groups/edit', researchGroup.id]">
              </a>
              <!-- Delete button -->
              <button pButton pRipple icon="pi pi-eraser" class="bg-danger text-white mr-1" 
                (click)="eliminar(researchGroup.id)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
</section>
